@font-face {
  font-family: "iconfont";
  src: url(/icons/iconfont.woff) format("woff"), url(/icons/iconfont.ttf) format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: .2rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfontShop{
  @extend .iconfont;
  font-size: .26rem;
}
.iconfontKaoLa{
  @extend .iconfont;
  font-size: .15rem;
  padding: 0 0.1rem;
}
.u-iconfont-zi{
  @extend .iconfont;
  font-size: .15rem;
}
.u-iconfont{
  @extend .iconfont;
  font-size: .12rem;
}
.iconfontWeiBo{
  @extend .iconfont;
  font-size: .34rem;
  color: rgb(246, 159, 78);
}
.iconfont2{
  @extend .iconfont;
  font-size: .3rem;
  color: rgb(126, 166, 231);
}
.iconfont3{
  @extend .iconfont;
  font-size: .3rem;
  color: rgb(125, 203, 235);
}
.iconfontHeader{
  @extend .iconfont;
  font-size: .15rem;
  color: #999999;
}