<div class="container">
    <header>
        <div>
            <img
                src="https://haitao.nosdn2.127.net/51df370d-4f87-49b0-ad8b-76a58d16cf18.png?imageView&thumbnail=64x0&quality=75">
        </div>
        <div>
            <p>下载APP领1000元新人现金礼包</p>
            <p>网易考拉-网易旗下 正品保障</p>
        </div>
        <div>
            <span>立即打开</span>
        </div>
    </header>
    <main>
        <header>
            <div class="m-searchbanner">
                <i class="iconfont">&#xe646;</i>
            </div>
            <a href="">
                登录
            </a>
            <a href="">
                <i class="iconfont">&#xe613;</i>
            </a>
        </header>
        <div class="banner-slider-wrap">
            <article class="m-imgslider-wrap">
                <ul>
                    <li>
                        <img src="https://haitao.nos.netease.com/c4260993-bab3-471e-9494-5b4ffb7e5fd2T1905310045_960_480.jpg?imageView&thumbnail=750x0&quality=95&type=webp"
                            alt="">
                    </li>
                </ul>
            </article>
        </div>
    </main>
</div>