<div class="container">
    <div class="head">
        <img src="../images/arrow.png" alt="">
        <b>下拉刷新...</b>
    </div>
    <header>
        <div>
            <img
                src="https://haitao.nosdn2.127.net/51df370d-4f87-49b0-ad8b-76a58d16cf18.png?imageView&thumbnail=64x0&quality=75">
        </div>
        <div>
            <p>下载APP领1000元新人现金礼包</p>
            <p>网易考拉-网易旗下 正品保障</p>
        </div>
        <div>
            <span>立即打开</span>
        </div>
    </header>
    <main>
        <header>
            <div class="m-searchbanner">
                <i class="iconfont">&#xe765;</i>
            </div>
            <a href="">
                登录
            </a>
            <a href="">
                <i class="iconfontShop">&#xe613;</i>
            </a>
        </header>
        <div class="banner-slider-wrap">
            <article class="m-imgslider-wrap">
                <ul>
                    <li>
                        <img src="https://haitao.nos.netease.com/c4260993-bab3-471e-9494-5b4ffb7e5fd2T1905310045_960_480.jpg?imageView&thumbnail=750x0&quality=95&type=webp"
                            alt="">
                    </li>
                </ul>
            </article>
        </div>
        <div class="m-commodities">
            <header>
                为你推荐
            </header>
            <ul class="m-commodity">

            </ul>
            <div class="foot">
                <i class="iconfontKaoLa">&#xe6a8;</i>
                <b>别拉了，到底啦~</b>
            </div>
        </div>
    </main>
    <nav class="m-docfoot">
        <ul class="navlist">
            <li>首页</li>
            <li>
                <i class="iconfont">&#xe615;</i>
            </li>
            <li>搜索</li>
            <li>
                <i class="iconfont">&#xe615;</i>
            </li>
            <li>我的</li>
        </ul>
    </nav>
    <footer class="aboutnest">
        网易公司版权所有@1997-2019
    </footer>
</div>