<div class="container">
    <main id="index-scroll"></main>
    <nav class="m-docfoot">
        <ul class="navlist">
            <li class="active">
                <a href="#position">首页</a>
            </li>
            <li>
                <a href="#search">搜索</a>
            </li>
            <li>
                <a href="#login">登录</a>
            </li>
            <li>
                <a href="#register">注册</a>
            </li>
        </ul>
    </nav>
    <footer class="aboutnest">
        网易公司版权所有@1997-2019
    </footer>
</div>