<div class="selectlogintype">
    <div class="m-logo">
        <img src="../images/m-logo.png" alt="">
    </div>
    <ul class="selectbox">
        <li>
            <i class="iconfont">&#xe612;</i>
            <span>手机号登录</span>
        </li>
        <li>
            <i class="iconfont">&#xe63f;</i>
            <span>邮箱登录</span>
        </li>
        <li>
            <span>手机号一键注册</span>
        </li>
    </ul>
    <div class="lnk">
        <p class="tit">
            <span>—— 或用以下方式登录 ——</span>
        </p>
    </div>
    <div class="m-thirdpart">
        <a href="#">
            <i class="iconfont">12</i>
        </a>
        <a href="#">
            <i class="iconfont">12</i>
        </a>
        <a href="#">
            <i class="iconfont">12</i>
        </a>
    </div>
</div>