<div>
    <!-- <div class="head">
        <img src="../images/arrow.png" alt="">
        <b>下 拉 刷 新 ...</b>
    </div> -->
    <header>
        <div>
            <img
                src="https://haitao.nosdn2.127.net/51df370d-4f87-49b0-ad8b-76a58d16cf18.png?imageView&thumbnail=64x0&quality=75">
        </div>
        <div>
            <p>下载APP领1000元新人现金礼包</p>
            <p>网易考拉-网易旗下 正品保障</p>
        </div>
        <div>
            <span>立即打开</span>
        </div>
    </header>
    <main>
        <header>
            <div class="m-searchbanner">
                <i class="iconfont">&#xe765;</i>
            </div>
            <a href="">
                登录
            </a>
            <a href="">
                <i class="iconfontShop">&#xe613;</i>
            </a>
        </header>
        <div class="banner-slider-wrap">
            <article class="m-imgslider-wrap">
                <ul>
                    <li>
                        <img src="https://haitao.nos.netease.com/c4260993-bab3-471e-9494-5b4ffb7e5fd2T1905310045_960_480.jpg?imageView&thumbnail=750x0&quality=95&type=webp"
                            alt="">
                    </li>
                </ul>
            </article>
            <div class="u-lazyimg-loaded">
                <ul>
                    <li>
                        <i class="u-iconfont-zi">&#xe603;</i>
                        网易自营
                    </li>
                    <li>
                        <i class="u-iconfont">&#xe501;</i>
                        全球直采
                    </li>
                    <li>
                        <i class="u-iconfont">&#xe637;</i>
                        假一赔十
                    </li>
                    <li>
                        <i class="u-iconfont">&#xe73b;</i>
                        售后无忧
                    </li>
                </ul>
            </div>
            <div class="icon-slider">
                <ul class="m-slide">
                    <li>
                        <img src="https://haitao.nosdn2.127.net/ab7ecb5c-3b32-4eb1-852e-ea3e214314e2T1906052019_192_220.png?imageView&thumbnail=192x220&quality=95"
                            alt="">
                    </li>
                    <li>
                        <img src="https://haitao.nos.netease.com/46b07f38-3a1f-4deb-b3a0-334fedac0f91T1904081244_192_220.png?imageView&thumbnail=192x220&quality=95"
                            alt="">
                    </li>
                    <li>
                        <img src="https://haitao.nos.netease.com/2da422e3-d27f-4e46-988e-9bfecc217c43T1905311344_192_220.png?imageView&thumbnail=192x220&quality=95"
                            alt="">
                    </li>
                    <li>
                        <img src="https://haitao.nosdn2.127.net/c570a45a-9201-473e-981e-b04e06accd4bT1901311201_192_220.png?imageView&thumbnail=192x220&quality=95"
                            alt="">
                    </li>
                    <li>
                        <img src="https://haitao.nosdn2.127.net/ba7064d2-37e7-4505-b3fd-93602df85b25T1902210142_192_220.png?imageView&thumbnail=192x220&quality=95"
                            alt="">
                    </li>
                    <li>
                        <img src="https://haitao.nosdn2.127.net/2504e9fb-6676-4626-bc21-f5a635fb131aT19060101750_192_220.gif"
                            alt="">
                    </li>
                    <li>
                        <img src="https://haitao.nosdn2.127.net/0b6ad0b0-9a30-4480-985a-c46693be349aT1906042229_192_220.png?imageView&thumbnail=192x220&quality=95"
                            alt="">
                    </li>
                    <li>
                        <img src="https://haitao.nos.netease.com/b6288867-fb62-4334-82df-8fab672f6e06T1903081458_192_220.png?imageView&thumbnail=192x220&quality=95"
                            alt="">
                    </li>
                    <li>
                        <img src="https://haitao.nosdn2.127.net/97153c90-1aff-4d65-a145-59dfd703fa24T1905081526_192_220.png?imageView&thumbnail=192x220&quality=95"
                            alt="">
                    </li>
                    <li>
                        <img src="https://haitao.nos.netease.com/52e5016f-685f-4a79-bb07-bc67cdebef05T1901311205_192_220.png?imageView&thumbnail=192x220&quality=95"
                            alt="">
                    </li>
                </ul>
            </div>
        </div>
        <div class="m-commodities">
            <header>
                为你推荐
            </header>
            <ul class="m-commodity">

            </ul>
            <div class="foot">
                <i class="iconfontKaoLa">&#xe6a8;</i>
                <b>别拉了，到底啦~</b>
            </div>
        </div>
    </main>
</div>