<div class="container registerBox">
    <div class="m-topnavbar">
        <i class="iconfontHeader">&#xe60b;其他登录方式
            <span>手机号一键注册</span>
        </i>
    </div>
    <div class="m-logo">
        <img src="../images/m-logo.png" alt="">
    </div>
    <div class="u-input">
        <form action="" method="get">
            <input type="text" placeholder="请输入手机号">
            <div class="code">
                <input type="tel" placeholder="请输入短信验证码">
                <a href="">获取验证码</a>
            </div>
            <input type="password" placeholder="请输入密码">
            <div class="f-cb">
                <span>注册</span>
            </div>
            <div class="u-zc-agree">
            <input type="checkbox" name="" id=""> 我同意《服务条款》和《网易隐私政策》
        </div>
        </form>
    </div>
</div>